/*  your css code here. If applicable */

.hero img{
	width:400px;
	height:300px;
	object-fit:cover;	
}

button{
	padding:12px 20px;
	background-color:red;
	color:white;
	border-radius:8px;
	border:none;
}